.profile{
    background-color: rgb(220, 197, 243);
    width: 1050px;
    height: 400px;
    margin-top: 14%;
    border-radius: 20px;
    margin-top: 13%;
  
}
.head{
    margin-top: -11%;
    font-size: 13px;
    margin-left: 5%;
    

}
p{
    font-size: 20px;
    color: red;
    margin-top: 5%;
    margin-left: -1.5%;
    margin-top: 42%;
}

.wana{
  
    width: 100px;
    height: 100px;
    margin-left: 4%;
    background-color: rgb(255, 252, 252);
    border-radius: 70%;
    box-shadow: 11px, 12px, 13px 12px black;

}
.about{
    color: black;
    font-size: 10px;
    margin-left: 18%;
    margin-top: -10.4%;
    
    
}
.set{
    width: 25px;
    width: 25px;
    margin-top: -10%;
    margin-left: 76%;
    cursor: pointer;
    
}
.noti{
    width: 25px;
    width: 25px;
    margin-left: 70%;
    cursor: pointer;
}
.two{
    margin-top: -1.7%;

}
.pro{
    width: 25px;
    width: 25px; 
    cursor: pointer;
}
.prof{
    margin-left: 82%;
    margin-top: -2.5%;

}
.edit{
    width: 17px;
    width: 17px; 
    position: absolute;
    margin-left: 15%;
    margin-top: 1.6%;

}
.edpro{
    margin-left: 18%;
    border-radius: 6px;
    height: 34px;
    width: 150px;
    margin-top: 1%;
    text-align: center;
    cursor: pointer;
}
.phonenum{
    width: 300px;
    height: 25px;
    border-radius: 6px;
    margin-top: -1.%;
    margin-left: 9%;
    text-align: center;
}
.phon{
    width: 17px;
    width: 17px; 
    position: absolute;
    margin-left: 8%;
    margin-top: 0.6%; 
}
.sim{
    margin-left: 10%;
    margin-top: 5%;
    font-size: 12px;
}
.mailnum{
    width: 300px;
    height: 25px;
    border-radius: 6px;
    margin-top: -1.%;
    margin-left: 9%;
    text-align: center;
}
.mail{
    width: 17px;
    width: 17px; 
    position: absolute;
    margin-left: 4.5%;
    margin-top: 0.6%; 
}
.email{
    margin-left: 50%;
    margin-top: -7%;
}



.adress{
    width: 300px;
    height: 25px;
    border-radius: 6px;
    margin-top: -1.%;
    margin-left: 9%;
    text-align: center;
}
.adds{
    width: 17px;
    width: 17px; 
    position: absolute;
    margin-left: 8%;
    margin-top: 0.6%; 
}
.add{
    margin-top: -3%;
}



.webname{
    width: 300px;
    height: 25px;
    border-radius: 6px;
    margin-top: -1.%;
    margin-left: 9%;
    text-align: center;
}
.webs{
    width: 20px;
    width: 20px; 
    position: absolute;
    margin-left: 4.5%;
    margin-top: 0.8%; 
}
.web{
    margin-left: 50%;
    margin-top: -7%;
}



.bioname{
    width: 780px;
    height: 48px;
    border-radius: 6px;
    
    margin-left: 9%;
}
.bbio{
    width: 20px;
    width: 20px; 
    position: absolute;
    margin-left: 4.5%;
    margin-top: 0.8%; 
}
.bio{
    margin-left: -1.%;
    margin-top: -3%;
   
}