.mapouter{position:relative;
    text-align:right;
    /* height:00px;
    width:600px; */
    margin-left: 600px;
    margin-top: -32%;
}
.gmap_canvas {
    overflow:hidden;
    background:none!important;
    height:500px;width:600px;}
    .map {
        margin-left: 600px;
        margin-top: -32%;
        }